*{
    box-sizing: border-box;    
}

body {  
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.jumbotron {
    background-color: rgb(87, 159, 231);
    color: white;
}

h3 {
    font-weight: bold;
}


.forecast {
    font-size: 0.8em;
    background-color: rgb(87, 159, 231);;
}

span {
    font-size: 1em;
}

li:hover {
    background-color: rgb(180, 194, 207);
}